
.cart-mini-component img{
width:40px;
height:55px;
}
.cart-mini-component{
    display: grid;
    grid-template-columns:1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    position:sticky;
    top: 30px;;
}
